%head
  %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %meta{:content => "FindYourDoctor", :property => "og:title"}/

  %title= t(:find_your_doctor)
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %link{href: "https://js.cit.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1533195059", rel: "stylesheet", type: "text/css"}
